
<%= form_with(model: journal_entry) do |form| %>
  <% if journal_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>
      <ul>
        <% journal_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>
  
  <div>
    <%= form.label :mood_label, style: "display: block" %>
    <%= form.select :mood_label, ["joy", "sad", "anger", "fear"] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <% if journal_entry.persisted? %>
    <%= link_to "Show this journal entry", journal_entry %> |
    <%= link_to "← Back", journal_entries_path, class: "btn btn-outline-light" %>
  <% else %>
    <%= link_to "← Back", journal_entries_path, class: "btn btn-outline-light" %>
  <% end %>
</div>
