<div id="<%= dom_id journal_entry %>">
  <p>
    <strong>User:</strong>
    <%= journal_entry.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= journal_entry.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= journal_entry.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= journal_entry.image %>
  </p>

  <p>
    <strong>Mood label:</strong>
    <%= journal_entry.mood_label %>
  </p>

  <p>
    <strong>Sentiment score:</strong>
    <%= journal_entry.sentiment_score %>
  </p>

  <p>
    <strong>Emotional label:</strong>
    <%= journal_entry.emotional_label %>
  </p>

</div>
