<p style="color: green"><%= notice %></p>

<h1>Journal Moment</h1>
<%# NOTE: It seems like you're missing the closing end tag for this loop bellow %>
<div class="simple_calendar"
<%= month_calendar events: current_user.journal_entries, attribute: :created_at do |date, entries| %>
  <div class="calendar-day">
    <%= date.day %>

    <% entries.each do |entry| %>
      <div class="emotion">
        <%= case entry.mood_label
            when "joy" then "😀"
            when "sad" then "😢"
            when "anger" then "😡"
            when "fear" then "😨"
            else entry.mood_label
            end %>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<div class="container">
  <div class="row row-cols-md-3 g-4">
    <% @journal_entries.each do |journal_entry| %>
    <%#= journal_entry.title%>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"> <%= journal_entry.title %> </h5>
            <p class="card-text"> <%= truncate(journal_entry.content, length: 50) %></p>
          </div>
      <div class="card-footer d-flex justify-content-between align-items-center">
            <small class="text-muted"><%= journal_entry.date.strftime("%B %d, %Y") %></small>
            <div>
        <%= link_to "Show", journal_entry, class: "btn btn-sm btn-outline-primary" %> 
        <%= link_to "Delete", journal_entry,
              method: :delete,
              data: { confirm: "Are you sure?" },
             class: "btn btn-sm btn-outline-danger" 
          %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--NOTE: Great job on building pagination! Would love to see some styling here too.-->
<div class="d-flex justify-content-center mt-4">
  <%= paginate @journal_entries %>
</div>
