<style>
body {
    background: linear-gradient(-45deg, #1f2937, #5a2c91, #3c096c, #1f2937);
    background-size: 400% 400%;
    animation: gradient-animation 20s ease-in-out infinite;
    min-height: 100vh;
    color: white;
  }
</style>
<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="p-4 rounded-4 shadow-lg  max-w-sm w-100 text-center">
        <h2 class="display-6 fw-bold text-white mb-4">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
