<!DOCTYPE html>
<html>
  <head>
    <title>Journal Moment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   
   <%= render partial: "shared/cdn_assets" %>
  </head>

  <body>
  <!--NOTE: Good job on implementing a navbar in the partial here! -->
  
    <%= render partial: "shared/navbar" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
