<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>   
    <%= render partial: "shared/cdn_assets" %>

  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
