<!DOCTYPE html>
<html>
  <head>
    <title>Moment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
       <%= render partial: "shared/cdn_assets" %>

  </head>
  <body class="emotions-layout">
  <div class="emotion-title"><h1>Moment</h1></div>
     <div class="emotions-container">
    <%= yield %>
    </div>
  </body>
</html>
