<!-- NOTE: You need to have just one application.html.erb. You don't need to duplicate that code anywhere else. -->
<!DOCTYPE html>
<html>
  <head>
    <title>Moment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
       <%= render partial: "shared/cdn_assets" %>

    <!--NOTE: No need to use inline styles at all. All CSS should go to stylesheets in assets folder. Also indentation here is crazy. -->
    <style>
 body {
      min-height: 100vh;
      background: linear-gradient(-45deg, #1f2937, #5a2c91, #3c096c, #1f2937);
      background-size: 400% 400%;
      animation: gradient-animation 20s ease-in-out infinite;
      color: white;
    }    </style>
  </head>
  <body>
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100 text-center">
  <h1 class="display-4 fw-bold">Welcome to Journal Moment</h1>
  <p class="lead  text-white-50">Write your thoughts, track your emotions, and reflect on your journey.</p>

  <div class="mt-4">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg mx-2" %>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-secondary btn-lg mx-2" %>
  </div>
</div>
    <%= yield %>
    </div>
  </body>
</html>
